<h2>PayPal configuration</h2>

{% if error == 'form' %}
    <p class="text-danger">Entered data is incorrect.</p>
{% elseif error == 'auth' %}
    <p class="text-error">Unable to authenticate with the specified username and password : {{ data }}.</p>
{% endif %}

<p>Now we have to setup PayPal payments :</p>

<ol>
    <li>
        You need a merchant account.
        You must <a href="https://www.paypal.com/us/webapps/mpp/set-up-paypal-business-account">apply for it</a> manually but it is free.
    </li>
    <li>
        Then, we advise you to <a href="https://developer.paypal.com/developer/accounts/">create two sandbox accounts</a>
        (one personal and one business).
    </li>
    <li>
        Now, you have to <a href="https://developer.paypal.com/developer/applications/create">create an application</a>.
        Once created, go to your <a href="https://developer.paypal.com/developer/applications/">apps page</a> and click on your app.
    </li>
    <li>
        Done !
    </li>
</ol>

<p>Now please enter your apps details in the following form :</p>

<form method="POST">
    <input name="step" type="hidden" value="5"/>
    <div class="form-group">
        <label for="form-paypal-client-id">PayPal client ID</label>
        <input id="form-paypal-client-id" name="form-paypal-client-id" class="form-control" type="text" placeholder="Enter your PayPal client ID">
    </div>
    <div class="form-group">
        <label for="form-paypal-client-secret">PayPal client secret</label>
        <input id="form-paypal-client-secret" name="form-paypal-client-secret" class="form-control" type="text" placeholder="Enter your PayPal client secret">
    </div>
    <button type="submit" class="btn btn-primary">Next step</button>
</form>