<header class="d-flex align-items-center">
    <div class="d-flex">
        <span class="logo d-none d-md-inline-block"></span>
        <div>
            <h1>{{ settings.WEBSITE_TITLE }}</h1>
            <span class="subtitle">{{ settings.WEBSITE_SUBTITLE }}</span>
        </div>
    </div>
</header>