<table class="table table-bordered">
    <thead class="thead-light">
    <tr>
        <th scope="col"><i class="fas fa-certificate"></i> Ad type</th>
        <th scope="col"><i class="fas fa-shopping-cart"></i> Cost per show</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Title</th>
        <td>{{ settings.AD_TITLE_COST }} {{ settings.PAYPAL_CURRENCY }}</td>
    </tr>
    <tr>
        <th scope="row">Chat</th>
        <td>{{ settings.AD_CHAT_COST }} {{ settings.PAYPAL_CURRENCY }}</td>
    </tr>
    </tbody>
</table>