<a class="navbar-brand col-sm-12 col-md-2" href="../"><span class="logo"></span> Adsky</a>

<a id="nav-drawer" class="d-inline d-md-none" href="#"><i class="fas fa-bars"></i></a>

<ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
        <a id="nav-logout" class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
</ul>