<div class="paginator">
	<span class="page d-none">1</span>
    <div class="btn-group" role="group" aria-label="Paginator">
        <button type="button" class="btn btn-outline-dark btn-previous" disabled>Previous</button>
        <button type="button" class="btn btn-outline-dark" disabled>Page <span class="current-page">1</span> / <span class="max-page">1</span></button>
        <button type="button" class="btn btn-outline-dark btn-next" disabled>Next</button>
    </div>
</div>