<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<h2><i class="fas fa-question"></i> About</h2>
				<p>
					AdSky has been created by <a href="https://www.skyost.eu">Skyost</a>.
					You can check its source code, report bugs, suggest improvements and more on <a href="https://github.com/Skyost/AdSky">Github</a>.
				</p>
			</div>
			<div class="offset-md-1 col-md-4">
				<h2><i class="fas fa-search"></i> Navigation</h2>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="https://github.com/Skyost/AdSky">Github</a></li>
					<li><a href="https://www.skyost.eu">Skyost</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>