<header id="header">
	<div id="brand" class="d-flex align-items-center">
		<div class="d-flex">
			<span class="logo d-none d-md-inline-block"></span>
			<div>
				<h1>{{ site.title }}</h1>
				<span class="subtitle">{{ site.description }}</span>
			</div>
		</div>
	</div>
	
	<div id="downloads">
		<a href="https://github.com/Skyost/AdSky#installation" class="btn btn-outline-light" role="button"><i class="fas fa-server"></i> Web server</a>
		<a href="http://dev.bukkit.org/bukkit-plugins/adsky/" class="btn btn-outline-light" role="button"><i class="fas fa-gamepad"></i> Spigot / Bukkit plugin</a>
		<a href="https://ore.spongepowered.org/Skyost/AdSky" class="btn btn-outline-light" role="button"><i class="fas fa-desktop"></i> Sponge plugin</a>
	</div>
</header>