---
---

/* SATURDAYNIGHTS FONT */

@font-face {
    font-family: 'SaturdayNights';
    src: url('../fonts/saturdaynights/SaturdayNights.eot');
    src: url('../fonts/saturdaynights/SaturdayNights.woff2') format('woff2'),
    url('../fonts/saturdaynights/SaturdayNights.woff') format('woff'),
    url('../fonts/saturdaynights/SaturdayNights.ttf') format('truetype'),
    url('../fonts/saturdaynights/SaturdayNights.svg#SaturdayNightsPersonalUse') format('svg'),
    url('../fonts/saturdaynights/SaturdayNights.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

/* SELECTION */

::selection {
	background-color: #bae0ff;
}

::-moz-selection {
	background-color: #bae0ff;
}

/* LOGO */

.logo {
    content: '';
    display: inline-block;
    background: url('../img/logo.png') no-repeat;
    background-size: 100%;
    height: 1.1em;
    width: 1.1em;
    vertical-align: -0.25em;
}

/* LISTS */

ul {
	padding-left: 0;
	list-style-type: none;
	
	li:before {
		content: '—';
		margin-right: 10px;
	}
}

/* HEADER AND FOOTER COLOR */

#header, footer {
	background-color: var(--gray-dark);
}

/* BRAND IN HEADER */

#brand {
	height: 400px;
    max-width: 100%;
    margin: 0 !important;
    font-size: 2.5em;
    font-family: 'SaturdayNights', fantasy;
    color: #ecf0f1;
	
	div {
		display: block;
		margin: auto;
	}
	
	.logo {
		height: 6em;
		width: 6em;
	}
	
	h1 {
		text-transform: none;
		font-size: 2.5em;
		margin-bottom: -0.2em;
	}
	
	.subtitle {
		position: relative;
		opacity: 0.7;
		font-size: 1.3em;
		
		&:after {
			content: '[';
			position: absolute;
			bottom: -0.3em;
			left: 50%;
		}
	}
}

/* DOWNLOAD BUTTONS */

#downloads {
	text-align: center;
	margin-top: -20px;
	padding-bottom: 40px;
	
	.btn {
		border-radius: 0;
		padding: 10px;
		min-width: 250px;
		font-size: 1.2em;
		margin-right: 10px;
		
		&:last-of-type {
			margin-right: 0;
		}
	}
}

/* PAGE CONTENT */

#content {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* POST STYLE */

.post {
	margin-bottom: 100px;
	
	header {
		border-bottom: 1px solid #bdc3c7;
		margin-bottom: 20px;
		position: relative;
	}

	h2 {
		display: inline;
		font-weight: lighter;
		text-transform: uppercase;
		font-size: 3em;
		
		a {
			text-decoration: none !important;
			color: #2980b9 !important;
		}
	}
	
	.date {
		position: absolute;
		right: 0;
		bottom: 2px;
	}

	.content {
		font-size: 1.1em;
		
		p {
			text-align: justify;
		}
	}
	
	&:last-of-type {
		margin-bottom: 0;
	}
}

/* PAGINATION */

#pagination {
	text-align: center;
	
	a {
		text-decoration: none !important;
	}
}

/* FOOTER */

footer {
	padding: 30px 0;
	color: white;
	
	a {
		color: white !important;
		font-weight: bold;
		text-decoration: none !important;
	}
	
	h2 {
		text-transform: uppercase;
		font-size: 1.5em;
		margin-bottom: 10px;
	}
	
	.row div > *:last-child {
		margin-bottom: 0;
	}
	
	ul li a {
		font-weight: normal;
	}
}

/* MOBILE STYLES */

@media(max-width: 767px) {
	#brand {
		text-align: center;
		font-size: 1.5em;
		
		h1 {
			margin-bottom: 10px;
		}
		
		.subtitle:after {
			content: '';
		}
	}
	
	#downloads {
		text-align: center;
	
		.btn {
			margin-right: 0;
			margin-bottom: 10px;
			width: 90%;
		}
	}
	
	.post .date {
		display: block;
		position: relative;
		margin-top: 10px;
	}
	
	footer .row div {
		margin-bottom: 40px;
		
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}