html, body {
    min-height: 100vh;
}

body.row {
    margin: 0;
    background-color: #2c3e50;
}

form {
    padding: 60px;
    color: #989898;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-top: 15px;
    margin-bottom: 15px;
}

form .form-check {
    margin-bottom: 2rem !important;
}

form small {
    display: block;
}

#form-message {
    color: var(--danger);
    margin-top: 1rem;
}