@font-face {
    font-family: 'SaturdayNights';
    src: url('../fonts/saturdaynights/SaturdayNights.eot');
    src: url('../fonts/saturdaynights/SaturdayNights.woff2') format('woff2'),
    url('../fonts/saturdaynights/SaturdayNights.woff') format('woff'),
    url('../fonts/saturdaynights/SaturdayNights.ttf') format('truetype'),
    url('../fonts/saturdaynights/SaturdayNights.svg#SaturdayNightsPersonalUse') format('svg'),
    url('../fonts/saturdaynights/SaturdayNights.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body h1, body h2 {
    text-transform: uppercase;
    font-weight: lighter;
}

form .form-control, button.btn {
    padding: 15px;
}

form .form-control, .form-control {
    background-color: #f2f2f2 !important;
    border-radius: 0;
    border: none !important;
}

form .form-control:disabled {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

form select.form-control {
    min-height: 54px;
}

form button.btn {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

button.btn {
    border-radius: 0;
    text-transform: uppercase;
}

.modal button.btn {
    padding: 10px;
}

.logo {
    content: '';
    display: inline-block;
    background: url('../img/logo.png') no-repeat;
    background-size: 100%;
    height: 1.1em;
    width: 1.1em;
    vertical-align: -0.25em;
}